.app {
  width: 100%;
}

.app .left-container {
  margin-left: 40px;
  float: left;
}

.app .left-container .image {
  margin-top: 40px;
  width: 680px;
  height: 440px;
  background-color: #d9d9d9;
}

.app .right-container {
  float: right;
}

.app .right-container ul {
  margin-top: 40px;
}

.app .right-container ul li {
  font-family: Inter;
  margin-top: 40px;
  margin-right: 40px;
  background-color: #d9d9d9;
  width: 440px;
  height: 160px;
}
